In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd, datetime
import numpy as np
import requests
import time
from scipy.stats import linregress
from ydata_profiling import ProfileReport
from pathlib import Path


# Import the OpenWeatherMap API key
from api_keys import airpollution_api_key 


# Import citipy to determine the cities based on latitude and longitude
from citipy import citipy

airpollution_api_key = airpollution_api_key or "YOUR_API_KEY"
print(airpollution_api_key)

cffa2b2ac0605c550af5b2dd12540b15

In [2]:
# Load the CSV file into a Pandas DataFrame
ntn_metadata = pd.read_csv("../Resources/cleaned-ntn-metadata.csv")
ntn_all = pd.read_csv("../Resources/cleaned-NTN-ALL-a-s-ueq.csv")

# Combine the data into a single dataset on the 'siteID' column
ntn_data = pd.merge(ntn_metadata, ntn_all, how="left", on="siteID")
ntn_data.head()

,network,siteID,siteName,status,startDate_x,stopDate,county,state,latitude,longitude,...,Cl,SO4,H,Conduc,svol,ppt,fullChemLab,daysSample,startDate_y,lastDate
0,NTN,AK01,Poker Creek,A,12/29/92,NaN,Fairbanks North Star,AK,65.1550,-147.4910,...,1.15661,2.60375,5.984,3.488,17184.50,32.619,29.0,371.0,Dec 28 2021 10:50PM,Jan 3 2023 11:00PM
1,NTN,AK02,Juneau,A,6/22/04,NaN,Juneau,AK,58.5139,-134.7843,...,5.67021,2.22881,4.656,3.124,140951.00,246.034,46.0,371.0,Dec 28 2021 11:19PM,Jan 3 2023 8:42PM
2,NTN,AK96,Toolik Field Station,A,10/12/17,NaN,North Slope Borough,AK,68.6257,-149.6069,...,1.72081,2.87454,5.689,3.668,13546.80,31.318,35.0,371.0,Dec 28 2021 8:45PM,Jan 3 2023 6:40PM
3,NTN,AK97,Katmai National Park - King Salmon,A,11/2/09,NaN,Bristol Bay,AK,58.6794,-156.6664,...,13.23049,5.43663,7.211,5.246,47153.99,87.417,42.0,372.0,Dec 28 2021 7:30PM,Jan 4 2023 7:54PM
4,NTN,AL10,Black Belt Research & Extension Center,A,8/31/83,NaN,Dallas,AL,32.4583,-87.2422,...,9.59140,8.62362,5.495,5.877,92996.80,153.010,37.0,371.0,Dec 28 2021 3:00PM,Jan 3 2023 3:45PM

In [4]:
# review data types
ntn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   network      162 non-null    object
 1   siteID       162 non-null    object
 2   siteName     162 non-null    object
 3   status       162 non-null    object
 4   startDate_x  162 non-null    object
 5   stopDate     2 non-null      object
 6   county       162 non-null    object
 7   state        162 non-null    object
 8   latitude     162 non-null    float64
 9   longitude    162 non-null    float64
 10  elevation    161 non-null    float64
 11  stateName    162 non-null    object
 12  siteClass    162 non-null    object
 13  seas         160 non-null    object
 14  yr           160 non-null    float64
 15  Criteria1    160 non-null    float64
 16  Criteria2    160 non-null    float64
 17  Criteria3    160 non-null    float64
 18  Ca           160 non-null    float64
 19  Mg           160 non-null    float64
 20  K            160 non-null    float64
 21  Na           160 non-null    float64
 22  NH4          160 non-null    float64
 23  NO3          160 non-null    float64
 24  Cl           160 non-null    float64
 25  SO4          160 non-null    float64
 26  H            160 non-null    float64
 27  Conduc       160 non-null    float64
 28  svol         160 non-null    float64
 29  ppt          160 non-null    float64
 30  fullChemLab  160 non-null    float64
 31  daysSample   160 non-null    float64
 32  startDate_y  160 non-null    object
 33  lastDate     160 non-null    object
dtypes: float64(21), object(13)
memory usage: 43.2+ KB

In [5]:
# describe the data
ntn_data.describe()

,latitude,longitude,elevation,yr,Criteria1,Criteria2,Criteria3,Ca,Mg,K,...,NH4,NO3,Cl,SO4,H,Conduc,svol,ppt,fullChemLab,daysSample
count,162.000000,162.000000,161.000000,160.0,160.000000,160.00000,160.000000,160.000000,160.000000,160.000000,...,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000
mean,40.144677,-91.536893,681.931677,2022.0,85.362500,98.84375,90.881250,10.373426,2.949839,0.724913,...,15.568128,9.067584,8.375543,7.092085,3.411206,6.144450,56569.451187,98.915944,36.675000,370.012500
std,5.983882,17.318329,842.588401,0.0,5.780565,1.48598,6.118712,11.540159,3.932386,0.913519,...,10.478205,3.832860,16.137740,3.330336,2.165165,2.940796,26747.386863,40.547575,8.641388,2.550096
min,25.390000,-156.666400,1.000000,2022.0,59.000000,90.00000,62.000000,-9.000000,-9.000000,-9.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,6493.100000,13.513000,11.000000,357.000000
25%,36.193275,-105.587075,174.000000,2022.0,82.000000,99.00000,87.000000,3.871950,1.295595,0.485830,...,8.371440,6.718145,1.805440,5.020030,1.949500,4.531000,36510.575000,75.046250,32.750000,371.000000
50%,40.335450,-87.040250,307.000000,2022.0,85.000000,99.00000,92.000000,6.996900,1.974240,0.652035,...,12.390840,8.936020,2.933840,6.623940,3.277000,5.563500,58917.700000,103.701000,38.500000,371.000000
75%,43.434800,-78.547025,753.000000,2022.0,89.250000,100.00000,95.250000,12.250800,3.310965,0.894950,...,20.526660,11.617632,7.348705,9.050635,4.791500,6.858500,75072.975000,125.964750,43.000000,371.000000
max,68.625700,-67.630800,3520.000000,2022.0,100.000000,100.00000,100.000000,90.038400,32.328180,2.659280,...,66.029040,21.098040,115.773840,16.455700,9.036000,19.667000,140951.000000,246.034000,51.000000,372.000000

In [6]:
# check for missing values
ntn_data.isnull().sum()

network          0
siteID           0
siteName         0
status           0
startDate_x      0
stopDate       160
county           0
state            0
latitude         0
longitude        0
elevation        1
stateName        0
siteClass        0
seas             2
yr               2
Criteria1        2
Criteria2        2
Criteria3        2
Ca               2
Mg               2
K                2
Na               2
NH4              2
NO3              2
Cl               2
SO4              2
H                2
Conduc           2
svol             2
ppt              2
fullChemLab      2
daysSample       2
startDate_y      2
lastDate         2
dtype: int64

In [7]:
# rename columns latitude and longitude to capitalize the first letter
ntn_data.rename(columns={"latitude": "Latitude", "longitude": "Longitude"}, inplace=True)
ntn_data.head()

,network,siteID,siteName,status,startDate_x,stopDate,county,state,Latitude,Longitude,...,Cl,SO4,H,Conduc,svol,ppt,fullChemLab,daysSample,startDate_y,lastDate
0,NTN,AK01,Poker Creek,A,12/29/92,NaN,Fairbanks North Star,AK,65.1550,-147.4910,...,1.15661,2.60375,5.984,3.488,17184.50,32.619,29.0,371.0,Dec 28 2021 10:50PM,Jan 3 2023 11:00PM
1,NTN,AK02,Juneau,A,6/22/04,NaN,Juneau,AK,58.5139,-134.7843,...,5.67021,2.22881,4.656,3.124,140951.00,246.034,46.0,371.0,Dec 28 2021 11:19PM,Jan 3 2023 8:42PM
2,NTN,AK96,Toolik Field Station,A,10/12/17,NaN,North Slope Borough,AK,68.6257,-149.6069,...,1.72081,2.87454,5.689,3.668,13546.80,31.318,35.0,371.0,Dec 28 2021 8:45PM,Jan 3 2023 6:40PM
3,NTN,AK97,Katmai National Park - King Salmon,A,11/2/09,NaN,Bristol Bay,AK,58.6794,-156.6664,...,13.23049,5.43663,7.211,5.246,47153.99,87.417,42.0,372.0,Dec 28 2021 7:30PM,Jan 4 2023 7:54PM
4,NTN,AL10,Black Belt Research & Extension Center,A,8/31/83,NaN,Dallas,AL,32.4583,-87.2422,...,9.59140,8.62362,5.495,5.877,92996.80,153.010,37.0,371.0,Dec 28 2021 3:00PM,Jan 3 2023 3:45PM

In [8]:
# check for duplicates in the data
duplicates = ntn_data.duplicated(subset=["Latitude", "Longitude"])
duplicates.sum()

0

In [9]:
# Run the Profiling Report using ydata_profiling
# profile = ProfileReport(ntn_data,title = "Acid Rain Profile Report")
# profile.to_notebook_iframe()

In [10]:
# view the latitude and longitude datatypes to ensure they are numeric
ntn_data[["Latitude", "Longitude"]].dtypes

Latitude     float64
Longitude    float64
dtype: object

In [11]:
# pull in data from the OpenWeatherMap API
# Create an empty list to store the weather data
acid_rain_air_pollution = []
for i in ntn_data.index:
    # Get the latitude and longitude
    lat = ntn_data.loc[i, "Latitude"]
    lon = ntn_data.loc[i, "Longitude"]
    
    # Use the OpenWeatherMap API to get the weather data
    url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&appid={airpollution_api_key}"
    acid_rain_ap = requests.get(url).json()
    
    
    # Append the weather data to the list
    coordinates = acid_rain_ap["coord"]
    components = acid_rain_ap['list'][0]["components"]
    acid_rain_air_pollution.append([coordinates['lat'], coordinates['lon'], components['co'], components['no'], components['no2'], components['o3'], components['so2'], components['pm2_5'], components['pm10'], components['nh3']])
    # # Print the city name and the index
    # print(f"Processing Record {i} | {ntn_data.loc[i, 'siteID']}")
    
    acid_rain_air_pollution

In [12]:


# Create an empty list to store the weather data
acid_rain_air_pollution = []

for i in ntn_data.index:
    # Get the latitude and longitude
    lat = ntn_data.loc[i, "Latitude"]
    lon = ntn_data.loc[i, "Longitude"]
    
    # Use the OpenWeatherMap API to get the weather data
    url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&appid={airpollution_api_key}"
    try:
        acid_rain_ap = requests.get(url).json()
        
        # Check if response contains expected fields
        if "coord" in acid_rain_ap and "list" in acid_rain_ap:
            coordinates = acid_rain_ap["coord"]
            components = acid_rain_ap['list'][0]["components"]
            acid_rain_air_pollution.append([
                coordinates['lat'], coordinates['lon'],
                components['co'], components['no'],
                components['no2'], components['o3'],
                components['so2'], components['pm2_5'],
                components['pm10'], components['nh3']
            ])
        else:
            print(f"No data for index {i}")
    except Exception as e:
        print(f"Error fetching data for index {i}: {e}")

acid_rain_air_pollution

[[65.155, -147.491, 226.97, 0.48, 1.27, 94.41, 0.7, 0.5, 0.53, 0.03],
 [58.5139, -134.7843, 216.96, 0.21, 0.56, 88.69, 0.17, 0.5, 0.52, 0.73],
 [68.6257, -149.6069, 226.97, 0.03, 0.07, 95.84, 0.01, 0.5, 0.51, 0.01],
 [58.6794, -156.6664, 233.65, 0.03, 0.12, 103, 0.18, 0.5, 0.63, 0.01],
 [32.4583, -87.2422, 216.96, 0.02, 1.63, 91.55, 0.92, 5.52, 9.63, 0.88],
 [34.2886, -85.9699, 230.31, 0.02, 3.6, 70.81, 0.67, 7.48, 15.39, 13.93],
 [33.605, -92.0972, 210.29, 0, 1.23, 71.53, 0.39, 3.53, 7.39, 2.22],
 [34.1795, -93.0992, 208.62, 0.01, 1.93, 71.53, 1.13, 4.96, 10.42, 0.77],
 [36.0842, -92.5868, 206.95, 0, 0.75, 86.55, 0.28, 4.42, 9.96, 0.86],
 [36.1011, -94.1737, 203.61, 0.02, 2.1, 77.96, 0.54, 3.98, 10.08, 4.5],
 [36.0586, -112.184, 176.91, 0.01, 0.08, 108.72, 0.04, 0.6, 3.28, 0.67],
 [31.9492, -112.802, 208.62, 0.06, 0.39, 108.72, 0.06, 1.44, 7.06, 0.42],
 [34.8224, -109.8925, 183.58, 0.09, 0.58, 120.16, 0.75, 2.57, 17.51, 0.33],
 [32.0097, -109.3889, 191.93, 0.04, 0.25, 125.89, 0.15, 1.25, 4.53, 0.5],
 [33.0708, -109.866, 193.6, 0.03, 0.26, 125.89, 0.11, 1.87, 6.1, 0.52],
 [34.2071, -117.7618, 211.95, 0.27, 1.63, 120.16, 0.15, 2.7, 8.92, 0.53],
 [39.0045, -123.086, 208.62, 0.12, 0.54, 77.96, 0.2, 1.42, 3.29, 0.35],
 [36.4834, -121.157, 233.65, 0.2, 1.44, 103, 0.43, 4.23, 4.85, 0.78],
 [34.0695, -116.3889, 200.27, 0.08, 0.51, 137.33, 0.09, 1.34, 4.79, 0.52],
 [41.7662, -122.4798, 198.6, 0.1, 0.53, 98.71, 0.05, 0.75, 1.25, 0.43],
 [34.1938, -116.9131, 230.31, 0.82, 3.43, 104.43, 0.55, 10.33, 13.85, 1.11],
 [37.4421, -105.868, 175.24, 0.02, 0.23, 171.66, 0.45, 1.15, 3.52, 0.45],
 [38.1177, -103.316, 190.26, 0.04, 0.38, 110.15, 0.14, 7.3, 48.95, 0.69],
 [40.0547, -105.5891, 185.25, 0.18, 2.06, 78.68, 0.28, 4.77, 8.9, 0.87],
 [39.4025, -107.3454, 171.9, 0.03, 0.4, 120.16, 0.07, 0.75, 1.92, 0.46],
 [40.2603, -105.8292, 181.91, 0.08, 1.67, 95.84, 1.59, 6.46, 10.31, 0.81],
 [38.9561, -106.986, 156.88, 0.01, 0.16, 128.75, 0.09, 0.82, 1.5, 0.44],
 [40.3639, -105.581, 178.58, 0.03, 0.47, 98.71, 0.46, 4.76, 10.27, 0.63],
 [40.4288, -104.8617, 198.6, 0.07, 1.15, 111.58, 0.92, 1.76, 3.63, 1.08],
 [37.4686, -106.787, 156.88, 0.02, 0.21, 134.47, 0.51, 1.01, 3.46, 0.25],
 [39.9939, -105.48, 178.58, 0.11, 1.2, 86.55, 0.52, 4.9, 13.55, 0.83],
 [40.2878, -105.6628, 180.24, 0.1, 1.71, 87.98, 1.03, 6.88, 10.68, 1.09],
 [37.1979, -108.491, 175.24, 0.01, 0.21, 117.3, 0.09, 0.64, 2.53, 0.33],
 [41.84, -72.0101, 257.02, 0.01, 6.77, 92.98, 0.89, 2.68, 2.95, 0.62],
 [29.7603, -82.1989, 247, 0.02, 2.14, 91.55, 0.29, 7.96, 9.82, 1.35],
 [28.7486, -82.5551, 260.35, 0.03, 3.9, 104.43, 0.67, 10.29, 17.15, 0.65],
 [25.39, -80.68, 206.95, 0.01, 1.33, 115.87, 0.64, 3.11, 9.92, 0.23],
 [27.3801, -82.2831, 277.04, 0.04, 5.57, 121.59, 1.15, 11.09, 15.93, 1.11],
 [30.7404, -82.1283, 193.6, 0, 0.34, 47.21, 0.08, 4.23, 5.6, 0.28],
 [33.1805, -84.4103, 216.96, 0.02, 3.13, 77.96, 0.11, 4.14, 7.09, 0.64],
 [31.5217, -83.5482, 236.99, 0.05, 3.98, 79.39, 0.16, 4.6, 7.49, 2.91],
 [42.9097, -91.47, 220.3, 0.09, 1.71, 92.98, 0.1, 1.74, 1.97, 3.07],
 [40.9631, -93.3925, 216.96, 0.02, 1.27, 113.01, 0.81, 3.87, 4.15, 2.38],
 [43.4605, -113.5551, 185.25, 0.07, 0.5, 75.82, 0.01, 0.57, 1.11, 2.28],
 [40.0528, -88.3719, 263.69, 0.2, 6.34, 114.44, 2.89, 8.24, 8.89, 3.01],
 [40.9153, -90.627, 230.31, 0.05, 2.83, 115.87, 0.72, 4.97, 5.43, 2.63],
 [40.8401, -85.4639, 243.66, 0.12, 3.98, 91.55, 0.19, 4.39, 5.47, 5.07],
 [38.7408, -87.4855, 243.66, 0.01, 1.65, 117.3, 4.29, 14.8, 16.88, 2.12],
 [41.6318, -87.0881, 260.35, 0.16, 4.71, 101.57, 1.48, 9, 10.09, 0.11],
 [40.4749, -86.9924, 240.33, 0.12, 3.81, 104.43, 1.37, 5.35, 5.98, 4.24],
 [37.6511, -94.8036, 210.29, 0.01, 1.21, 79.39, 0.39, 3.62, 5.54, 2.57],
 [39.1022, -96.6092, 223.64, 0.02, 2.38, 83.69, 0.53, 6.32, 8.76, 1.62],
 [37.7047, -85.0489, 226.97, 0.03, 4.63, 52.93, 0.63, 7.08, 8.85, 1.36],
 [37.1317, -86.148, 233.65, 0.04, 6.17, 34.69, 0.71, 7.48, 10.49, 1.93],
 [38.2288, -85.6545, 280.38, 0.05, 10.97, 68.67, 2.59, 10.4, 13.19, 1.38],
 [37.0778, -82.9936, 220.3, 0.02, 2.55, 67.23, 0.29, 5.15, 7.95, 0.63],
 [29.931, -91.7165, 216.96, 0.02, 0.91, 103, 0.38, 8.89, 21.31, 0.38],
 [30.7819, -90.2021, 216.96, 0.02, 1.86, 114.44, 0.89, 6.59, 15.22, 0.66],
 [41.9759, -70.0241, 357.15, 0, 7.37, 107.29, 0.94, 22.69, 24.74, 0.14],
 [42.3925, -72.3444, 243.66, 0.01, 5.57, 84.4, 0.19, 1.88, 2.27, 0.63],
 [41.2897, -70.1751, 433.92, 0, 2.79, 217.44, 1.83, 70.33, 75.55, 0.09],
 [42.3501, -71.1044, 273.71, 0.01, 12.17, 85.12, 0.75, 2.1, 3.28, 0.83],
 [42.2953, -71.134, 273.71, 0.01, 12.17, 85.12, 0.75, 2.1, 3.28, 0.83],
 [39.7053, -79.0122, 230.31, 0.02, 4.11, 90.12, 3.67, 8.88, 9.64, 1.2],
 [37.9925, -76.0345, 260.35, 0, 2.53, 117.3, 2.03, 7.86, 9.65, 1],
 [39.028, -76.8171, 323.77, 0.05, 22.28, 59.37, 2.86, 7.25, 9.35, 1.98],
 [46.8675, -68.0134, 223.64, 0, 2.55, 59.37, 0.03, 0.5, 0.65, 0.21],
 [45.0803, -70.2118, 230.31, 0, 1.29, 94.41, 0.3, 0.67, 0.78, 0.43],
 [44.4003, -71.0098, 223.64, 0, 1.71, 85.83, 0.06, 0.5, 0.57, 0.29],
 [45.4891, -69.6647, 220.3, 0, 1.41, 90.84, 0.16, 0.57, 0.62, 0.27],
 [45.2436, -67.6308, 220.3, 0, 1.2, 90.12, 0.08, 0.5, 0.54, 0.1],
 [43.8325, -70.0645, 236.99, 0, 2.91, 94.41, 0.03, 0.5, 0.64, 0.32],
 [44.3772, -68.2608, 263.69, 0, 5.06, 91.55, 0.86, 2.17, 2.28, 0.11],
 [45.5608, -84.6783, 216.96, 0.05, 1.52, 90.84, 0.37, 0.5, 0.51, 0.12],
 [42.4103, -85.3928, 233.65, 0.14, 4.88, 101.57, 4.23, 3.63, 4.6, 2.72],
 [46.2889, -85.9504, 220.3, 0.03, 0.79, 92.98, 0.18, 0.5, 0.51, 0.04],
 [43.6135, -83.3599, 240.33, 0.02, 3.17, 98.71, 0.53, 2.44, 2.63, 1.73],
 [44.2242, -85.8186, 220.3, 0.04, 1.14, 87.26, 0.28, 1.21, 1.28, 0.33],
 [46.464, -84.303, 226.97, 0.29, 7.2, 82.97, 2.38, 0.98, 1.02, 0.02],
 [47.1046, -88.5516, 233.65, 0.36, 4.46, 72.96, 0.48, 1.48, 1.55, 0.09],
 [45.4017, -93.2031, 220.3, 0.1, 1.67, 91.55, 0.19, 0.67, 0.86, 1.05],
 [47.8471, -89.965, 211.95, 0.09, 1.36, 67.95, 0.18, 0.5, 0.51, 0.05],
 [47.9464, -91.4961, 205.28, 0.03, 0.34, 60.8, 0.12, 0.5, 0.51, 0.04],
 [48.4132, -92.8305, 230.31, 0.09, 1.32, 90.12, 1.62, 0.88, 1.1, 0.11],
 [47.3841, -91.2067, 206.95, 0.31, 4.37, 57.22, 0.34, 0.94, 0.97, 0.26],
 [30.4294, -88.4277, 223.64, 0.04, 1.65, 103, 0.87, 9.32, 18.47, 0.3],
 [34.0025, -89.7993, 216.96, 0.02, 1.97, 85.83, 0.55, 3.33, 6.17, 0.5],
 [48.5102, -113.997, 185.25, 0.05, 0.34, 94.41, 0.09, 1.01, 1.59, 0.36],
 [35.0605, -83.4305, 201.94, 0.01, 0.99, 55.79, 0.22, 4.94, 7.94, 0.6],
 [35.9709, -79.0933, 247, 0.03, 7.11, 57.94, 0.61, 6.81, 11.23, 3.52],
 [35.697, -80.6225, 243.66, 0.04, 5.74, 80.11, 1.13, 6.61, 9.96, 2.6],
 [35.0258, -78.2783, 233.65, 0.02, 4.11, 82.25, 0.44, 4.5, 8.21, 13.93],
 [34.9705, -79.5281, 223.64, 0.01, 2.04, 92.98, 0.5, 5.14, 8.67, 6.08],
 [35.7283, -78.6789, 257.02, 0.03, 9.17, 62.23, 0.72, 6.34, 10.54, 3.48],
 [35.7353, -82.2861, 220.3, 0.03, 2.44, 52.21, 0.13, 4.67, 7.34, 0.56],
 [43.9433, -71.7029, 220.3, 0, 1.54, 90.84, 0.03, 0.5, 0.55, 0.18],
 [39.4728, -74.4369, 287.06, 0.02, 13.88, 64.37, 1.55, 8.38, 10.04, 1.09],
 [39.9894, -74.1344, 337.12, 0.01, 18.68, 68.67, 1.1, 6.75, 8.79, 1.74],
 [40.3154, -74.8536, 270.37, 0.02, 10.63, 65.8, 0.54, 4.61, 7.06, 1.69],
 [35.7788, -106.266, 166.89, 0.02, 0.17, 163.08, 0.21, 4.64, 30.08, 0.31],
 [32.9096, -105.471, 171.9, 0.03, 0.22, 104.43, 0.11, 7.7, 47.97, 0.55],
 [39.0054, -114.217, 188.59, 0.02, 0.12, 105.86, 0.01, 0.5, 2.31, 0.58],
 [42.2276, -77.8016, 226.97, 0.03, 3.13, 87.98, 0.43, 1.86, 2.24, 1.49],
 [40.868, -73.8782, 453.95, 0.69, 50.04, 18.6, 1.27, 7.08, 12.48, 2.44],
 [42.7339, -76.6597, 247, 0.04, 6.26, 79.39, 0.45, 2.49, 2.89, 2.76],
 [42.2994, -79.3964, 236.99, 0.06, 5.06, 104.43, 0.82, 2.33, 2.57, 0.87],
 [43.9731, -74.2231, 211.95, 0, 0.75, 90.84, 0.09, 0.66, 0.71, 0.24],
 [44.9226, -74.4806, 236.99, 0.01, 2.61, 95.84, 0.55, 0.5, 0.61, 0.9],
 [43.4336, -74.5002, 206.95, 0, 0.44, 92.98, 0.04, 0.5, 0.53, 0.18],
 [43.1463, -77.5482, 340.46, 0.2, 22.96, 74.39, 1.91, 8.05, 9.6, 1.47],
 [42.4014, -76.6589, 236.99, 0.03, 5.06, 74.39, 0.44, 2.85, 3.3, 2.31],
 [41.9936, -74.5031, 233.65, 0, 1.54, 103, 0.6, 4.83, 5.05, 0.79],
 [42.9931, -78.7717, 400.54, 0.78, 38.73, 46.49, 2.06, 9.23, 10.98, 5.32],
 [44.434, -74.246, 220.3, 0, 0.75, 97.28, 0.2, 0.5, 0.57, 0.41],
 [41.0347, -72.3891, 310.42, 0.01, 16.79, 83.69, 0.75, 4.75, 5.91, 0.83],
 [44.3933, -73.8594, 213.62, 0, 0.98, 90.84, 0.03, 0.5, 0.56, 0.34],
 [41.3511, -74.0484, 247, 0.01, 5.91, 87.26, 0.24, 2.34, 2.92, 0.91],
 [40.3555, -83.0661, 243.66, 0.06, 4.11, 103, 1.24, 7.67, 8.76, 3.29],
 [39.7928, -81.5311, 250.34, 0.03, 3.3, 87.26, 0.59, 10.63, 11.5, 2.01],
 [40.7813, -81.9197, 240.33, 0.06, 4.84, 105.86, 1.54, 4.05, 5.03, 2.66],
 [36.7863, -98.18, 210.29, 0.02, 1.91, 81.54, 0.29, 7.05, 12.03, 1.79],
 [44.2118, -122.256, 216.96, 0.03, 0.69, 91.55, 0.22, 0.57, 0.95, 0.14],
 [45.2247, -118.513, 201.94, 0.06, 0.43, 104.43, 0.19, 1.34, 1.74, 0.63],
 [44.6347, -123.19, 223.64, 0.02, 0.55, 98.71, 0.21, 0.58, 1.65, 0.21],
 [39.9231, -77.3078, 270.37, 0.03, 7.8, 78.68, 1.71, 9.03, 10.29, 4.62],
 [40.457, -78.56, 220.3, 0.01, 2.04, 90.12, 0.63, 3.93, 4.31, 0.97],
 [40.7883, -77.9458, 223.64, 0.02, 3.21, 90.12, 0.74, 3.29, 3.63, 1.03],
 [40.6575, -77.9397, 223.64, 0.02, 3.21, 90.12, 0.74, 3.29, 3.63, 1.03],
 [32.943, -79.6592, 267.03, 0.01, 4.41, 131.61, 2.33, 13.96, 16.55, 1.27],
 [36.4698, -83.8272, 220.3, 0.02, 3.09, 55.08, 0.16, 5.85, 9.39, 0.86],
 [35.6645, -83.5903, 230.31, 0.01, 1.52, 82.25, 0.6, 7.1, 12.14, 1.35],
 [35.4988, -89.2611, 223.64, 0.05, 3.09, 82.25, 0.16, 5.35, 10.19, 0.88],
 [30.2613, -100.5551, 213.62, 0.03, 0.43, 64.37, 0.32, 3.42, 6.83, 0.92],
 [31.9069, -104.805, 193.6, 0.05, 0.5, 118.73, 0.2, 36.89, 267.97, 0.5],
 [34.88, -101.665, 205.28, 0.07, 0.71, 104.43, 0.29, 3.29, 14.72, 1.38],
 [33.3917, -97.6397, 223.64, 0.02, 2.04, 75.82, 0.26, 2.55, 4.19, 1.03],
 [41.6661, -111.8914, 198.6, 0.08, 1.67, 105.86, 0.16, 0.63, 1.06, 0.66],
 [39.0001, -110.174, 180.24, 0.02, 0.27, 124.45, 0.21, 0.5, 1.89, 0.44],
 [37.6186, -112.1728, 170.23, 0.02, 0.13, 108.72, 0.03, 0.5, 1.61, 0.52],
 [38.0402, -78.5427, 236.99, 0.01, 3, 77.96, 0.32, 3.57, 5.48, 1.35],
 [37.3232, -80.4572, 216.96, 0.01, 2.38, 57.94, 0.3, 3.25, 4.22, 0.59],
 [37.1652, -78.3073, 236.99, 0.01, 4.03, 39.7, 0.27, 4.98, 6.85, 1.52],
 [38.5231, -78.4348, 257.02, 0.08, 8.48, 36.12, 0.15, 3.5, 10.29, 13.55],
 [37.6265, -79.5126, 223.64, 0.04, 6.51, 44.35, 0.71, 3.74, 4.59, 0.53],
 [42.8761, -73.1633, 230.31, 0.01, 3.09, 87.26, 0.14, 1.17, 1.37, 0.76],
 [44.5283, -72.8684, 247, 0.01, 5.66, 86.55, 0.15, 1.17, 1.43, 0.96],
 [46.7606, -117.1847, 205.28, 0.12, 0.64, 111.58, 0.36, 1.17, 2.02, 0.75],
 [45.5694, -122.21, 230.31, 0.14, 4.16, 95.84, 0.72, 0.6, 1.43, 0.34],
 [43.041, -89.428, 267.03, 0.48, 8.57, 77.25, 0.84, 4.18, 5.21, 5.57],
 [45.5648, -88.8083, 213.62, 0.07, 1.37, 80.11, 0.07, 0.5, 0.55, 0.13],
 [43.4352, -89.6801, 260.35, 0.65, 10.11, 74.39, 0.05, 1.3, 1.84, 2.69],
 [45.2064, -90.5978, 216.96, 0.05, 1.3, 98.71, 0.08, 0.5, 0.56, 0.26],
 [46.0512, -89.6541, 216.96, 0.06, 1.19, 74.39, 0.06, 0.5, 0.52, 0.11],
 [45.8228, -91.8744, 216.96, 0.03, 0.92, 104.43, 0.04, 0.5, 0.67, 0.19],
 [37.9796, -80.9525, 216.96, 0.04, 3.38, 53.64, 0.27, 3.78, 4.72, 0.28],
 [39.0897, -79.6622, 223.64, 0.01, 1.91, 80.82, 1.65, 6.33, 6.76, 0.29],
 [41.3762, -106.26, 168.56, 0.03, 0.51, 100.14, 0.1, 1.61, 4.31, 0.72],
 [42.7336, -108.8498, 170.23, 0.06, 0.63, 100.14, 0.1, 1.74, 4.6, 2.79],
 [42.929, -109.7875, 180.24, 0.12, 1.14, 82.97, 0.25, 1.47, 3.12, 1.58],
 [43.8333, -110.7008, 176.91, 0.03, 0.3, 87.26, 0.03, 0.52, 0.65, 0.19],
 [41.3647, -106.2408, 168.56, 0.03, 0.51, 100.14, 0.1, 1.61, 4.31, 0.72],
 [42.4944, -108.832, 161.89, 0.02, 0.26, 89.41, 0.25, 2.52, 8.34, 1.38]]

In [13]:
# create a dataframe from the list of weather data
columns = ["Latitude", "Longitude", "CO", "NO", "NO2", "O3", "SO2", "PM2.5", "PM10", "NH3"]
rain_air_pollution_df = pd.DataFrame(acid_rain_air_pollution, columns=columns)   
rain_air_pollution_df.head()

   Latitude  Longitude      CO    NO   NO2      O3   SO2  PM2.5  PM10   NH3
0   65.1550  -147.4910  226.97  0.48  1.27   94.41  0.70   0.50  0.53  0.03
1   58.5139  -134.7843  216.96  0.21  0.56   88.69  0.17   0.50  0.52  0.73
2   68.6257  -149.6069  226.97  0.03  0.07   95.84  0.01   0.50  0.51  0.01
3   58.6794  -156.6664  233.65  0.03  0.12  103.00  0.18   0.50  0.63  0.01
4   32.4583   -87.2422  216.96  0.02  1.63   91.55  0.92   5.52  9.63  0.88

In [14]:
rain_air_pollution_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   162 non-null    float64
 1   Longitude  162 non-null    float64
 2   CO         162 non-null    float64
 3   NO         162 non-null    float64
 4   NO2        162 non-null    float64
 5   O3         162 non-null    float64
 6   SO2        162 non-null    float64
 7   PM2.5      162 non-null    float64
 8   PM10       162 non-null    float64
 9   NH3        162 non-null    float64
dtypes: float64(10)
memory usage: 12.8 KB

In [15]:
# merge the acid rain data with the air pollution data
acid_rain_ap_df = pd.concat([ntn_data, rain_air_pollution_df], axis=1)
acid_rain_ap_df.head()

,network,siteID,siteName,status,startDate_x,stopDate,county,state,Latitude,Longitude,...,Latitude,Longitude,CO,NO,NO2,O3,SO2,PM2.5,PM10,NH3
0,NTN,AK01,Poker Creek,A,12/29/92,NaN,Fairbanks North Star,AK,65.1550,-147.4910,...,65.1550,-147.4910,226.97,0.48,1.27,94.41,0.70,0.50,0.53,0.03
1,NTN,AK02,Juneau,A,6/22/04,NaN,Juneau,AK,58.5139,-134.7843,...,58.5139,-134.7843,216.96,0.21,0.56,88.69,0.17,0.50,0.52,0.73
2,NTN,AK96,Toolik Field Station,A,10/12/17,NaN,North Slope Borough,AK,68.6257,-149.6069,...,68.6257,-149.6069,226.97,0.03,0.07,95.84,0.01,0.50,0.51,0.01
3,NTN,AK97,Katmai National Park - King Salmon,A,11/2/09,NaN,Bristol Bay,AK,58.6794,-156.6664,...,58.6794,-156.6664,233.65,0.03,0.12,103.00,0.18,0.50,0.63,0.01
4,NTN,AL10,Black Belt Research & Extension Center,A,8/31/83,NaN,Dallas,AL,32.4583,-87.2422,...,32.4583,-87.2422,216.96,0.02,1.63,91.55,0.92,5.52,9.63,0.88

In [17]:
# save acid_rain_ap_df to a csv file
acid_rain_ap_df.to_csv("../acid_rain_cleaned_data/acid_rain_air_pollution.csv", index=False)